a#iniciohombre{float: right;
color:white

}

a#home{float:right;
	margin-right:10px;
	   color:white
}
a#iniciohombre:hover{ color:red;}
a#home:hover{ color:red;}

img#zapato1{float:left;
			margin-left:100px;
			margin-top:50px;
		}

ul#marron{float:left;
		margin-top: 350px;
		margin-left:-760px;
		color:white;
	}
a#compra1{float:left;
		  margin-top:500px;
		  margin-left:-720px;
		  color:white;
		  text-decoration:none;
}
a#compra1:hover{color:red;
font-weight: bold;
font-family:"Comic Sans MS", "Calibri";
}

img#zapato2{float:left;
	margin-top:50px;
	margin-left: 120px;

}
ul#claro{float:left;
	margin-top:350px;
	margin-left:-330px;
	color:white;

}
a#compra2{float:left;
		margin-top:500px;
		margin-left: -290px;
		color:white;
		text-decoration:none;
}
a#compra2:hover{color:red;
font-weight: bold;
font-family:"Comic Sans MS", "Calibri";
}

img#zapato3{float:right;
	margin-top: 50px;
	margin-right: -70px;
	

}
div
{
    float: right;
 	margin-right: 300px;
	color:white;
	margin-right:130px;

	
}

a#compra3:hover{color:red;
font-weight: bold;
font-family:"Comic Sans MS", "Calibri";
}
footer
{
float: right;
margin-left:center;
color:white;

}
a{
	text-decoration: none;
	color: white;
}